<p id="notice"><%= notice %></p>

<h1>Pizzas</h1>

<div class="flex-container">
  <% @pizzas.each do |pizza| %>
    <div class="container">
      <img src="assets/pizza.png" height="150px">
      <h4><%=Recipe.find(pizza.recipe_id).name%></h4>
      <p> Crust: <%=  Crust.find(pizza.crust_id).regorthin %></p>
      <p> Price: <%=  Crust.find(pizza.crust_id).price + Recipe.find(pizza.recipe_id).price %></p>
  <button>Buy</button>
    </div>
  <% end %>
</div>

<br>

